<section class="Packages-connections">
  <h1>We Provide Best Quality <br> Internet Connection</h1>
  <div class="header-container">
    <h2 class="coverage-heading">We are dedicated to delivering the best quality internet connection to
      our customers.<br> Our services are designed to provide reliable,
        high-speed<br> internet that meets all your online needs.</h2>
    <button class="check-coverage">
      <mat-icon>play_circle_outline</mat-icon> PLAY INTRO
    </button>
  </div>
  <div class="info-box">
    <div class="info-member">
      <div class="info-number">1000+</div>
      <h3>Active Connections</h3>
    </div>
    <div class="info-member">
      <div class="info-number">5000+</div>
      <h3>Happy Clients</h3>
    </div>
    <div class="info-member">
      <div class="info-number">50+</div>
      <h3>Professional Team</h3>
    </div>
    <div class="info-member">
      <div class="info-number">10+</div>
      <h3>Years of Experience</h3>
    </div>
  </div>
</section>


