<nav class="navbar">
  <div class="icon">
    <!-- Use FontAwesome Wi-Fi icon -->
    <i class="fas fa-wifi wifi-icon-large"></i>
    <h2 class="logo">Alpha<span class="blue" style="color: #ff6600;">Net</span></h2>
  </div>
  <div class="Menu">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/packages">Packages</a></li>
      <li><a routerLink="/pricing">Pricing</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
  <button class="contact-sales"><a routerLink="/contact-sales">Contact Sales</a></button>
</nav>
