<section id="about" class="About">
  <div class="section-title">
    <h2><fa-icon [icon]="['fas', 'wifi']" class="wifi-icon-middle"></fa-icon> who-we-are</h2>
  </div>
  <div class="content-container">
    <div class="text-content">
      <h1>Explore the Magic <br>of Technology</h1>
        <p>
          In today's fast-paced world, Wi-Fi and technology are integral to our daily lives.
          Whether streaming shows, working remotely, or connecting with loved ones, reliable Wi-Fi ensures
          seamless connectivity. Modern technology offers unparalleled convenience, empowering customers to
          stay connected, informed, and entertained, no matter where they are.
        </p>


      <div class="additional-container">
        <div class="additional-image-container">
          <img src="assets/images/wifi3.jpg" alt="Additional Technology Image">
        </div>
        <div class="additional-text-content">
          <p>
            In today's fast-paced world, Wi-Fi<br> and technology have become <br> integral parts of our daily
            lives. Whether you're <br> streaming your
          </p>
        </div>
      </div>
    </div>
    <div class="image-container">
      <img src="assets/images/wifi1.jpg" alt="Technology Image">
    </div>
  </div>
</section>
