<div class="contact-header">
  <h1>Contact Us</h1>
  <p>Get in touch with us</p>
</div>
<section class="contact-us">
  <div class="contact-container">
    <div class="map-container">
      <!-- Google Maps iframe -->
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15955.374652135442!2d37.63484132068382!3d-0.3514424764046631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x178840ed1ab5d507%3A0x3b95f4cbace4e4a!2sChuka%20University!5e0!3m2!1sen!2ske!4v1616569830951!5m2!1sen!2ske"
        width="530"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy">
      </iframe>
    </div>
    <div class="info-form-container">
      <div class="upper-container">
        <div class="info-container">
          <div class="info-box">
            <i class="fas fa-phone-alt"></i>
            <p><a href="tel:+254798374027">(+254) 798374027</a></p>
          </div>
          <div class="info-box">
            <i class="fas fa-envelope"></i>
            <p><a href="mailto:alphazjaredz@gmail.com">alphazjaredz&#64;gmail.com</a></p>
          </div>
          <div class="info-box">
            <i class="fas fa-map-marker-alt"></i>
            <p>Chuka Street</p>
          </div>
        </div>
      </div>
      <div class="lower-container">
        <div class="form-container">
          <div class="form-box">
            <label for="name"></label>
            <input type="text" id="name" placeholder="Name">
          </div>
          <div class="form-box">
            <label for="email"></label>
            <input type="email" id="email" placeholder="Email">
          </div>
          <div class="form-box">
            <label for="subject"></label>
            <input type="text" id="subject" placeholder="Subject">
          </div>
          <div class="form-box form-box-message">
            <label for="message"></label>
            <textarea id="message" placeholder="Message"></textarea>
          </div>
        </div>
      </div>
      <div class="form-box-submit">
        <button type="submit">Submit Message Now</button>
      </div>
    </div>
  </div>
</section>
