<section class="our-best-services">
  <div class="centered-title">
    <h2 class="typewriter">
      <span class="typewriter-text">Experience The Magic Of Our Services</span>
    </h2>
  </div>
  <div class="content-container">
    <div class="small-containers">
      <div class="container-left">
        <h2>
          <fa-icon [icon]="['fas', 'wifi']" class="wifi-icon"></fa-icon>
          Wifi Services
        </h2>
        <p>Enjoy lightning-fast internet speeds with AlphaNet's cutting-edge technology, ensuring a seamless online experience.</p>
        <button class="view-details">View Details</button>
      </div>
      <div class="container-right">
        <h3>Other Services</h3>
        <p>Explore our range of additional services including premium customer support, advanced security features, and more to enhance your internet experience.</p>
        <button class="view-details">View Details</button>
      </div>
    </div>
  </div>
  <audio id="typing-sound" src="C:\Users\abrah\OneDrive\Desktop\Angular projects\alpha\src\assets\images\TYPING SOUND.mp3" preload="auto"></audio>
</section>
