<section id="home" class="Home">
  <div class="content-wrapper">
    <div class="text-container">
      <h1>Connect Faster <br> and Easier <br> With AlphaNet</h1>
      <p class="par">
        Experience seamless browsing, streaming, and gaming <br> on our robust and secure network.
        AlphaNet ensures reliable<br> connectivity for all your devices, whether at home, work, or on the go.
      </p>
      <button mat-raised-button color="accent" class="cn"><a routerLink="/contact-sales">Contact Sales</a></button>
    </div>
    <div class="image-container">
      <img src="assets/images/wifi1.jpg" alt="WiFi Image">
    </div>
  </div>
</section>
